* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    color: #fff;
    font-family: '微软雅黑';
    height: 100%;
    overflow: hidden;
    background: url('../imgs/bg.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#mp3 {
    display: none;
}
.swiper-container {
    height: 100%;
    overflow: hidden;
    .music {
        width: 10%;
        height: 10%;
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        z-index: 200;
        img {
            width: 100%;
        }
    }
    .swiper-slide {
        overflow: hidden;
    } // 第0屏
    .swiper0 {
        .content {
            height: 100%;
            img:nth-child(1){
                width: 5.466667rem;
                margin-top: 8.8rem;
                margin-left: 8.69333333334rem;
            }
            img:nth-child(3){
                width: 8.08rem;
                margin-top: 1rem;
                margin-left: 6.08rem;
            }
            img:nth-child(4){
                width:0.8rem;
                position: absolute;
                bottom: 1rem;
                left: 50%;
            }
        }
    } // 第1屏
    .swiper1 {
        .content {
            height: 100%;
            background: url('../imgs/1/home_bro.jpg') no-repeat center;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            img{
                width: 5.84rem;
                position: absolute;
                top: 0.6rem;
                left: 0.6rem;
            }
            .tit {
                position: absolute;
                right: 0rem;
                top: 12rem;
                height: 6.133333rem;
                width: 13.066667rem;
                background: url('../imgs/1/wenzi.png') no-repeat center;
                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                animation: wordDown 1s ease;
            }
        }
    } // 第2屏
    .swiper2 {
        .content {
            height: 100%;
            position: relative;
            .tit {
                height: 19.36rem;
                background: url('../imgs/2/zt.jpg') no-repeat center;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                position: relative;
                .tip{
                    width: 10.426667rem;
                    height: 6.853333rem;
                    position: absolute;
                    top: -1rem;
                    right: 0;
                    background: url('../imgs/2/biaozhu.png') no-repeat center;
                    -moz-background-size: contain;
                    -webkit-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                }
                .qq{
                    width: 1.226667rem;
                    height: 1.333333rem;
                    background: url('../imgs/2/QQ.png') no-repeat center;
                    -moz-background-size: contain;
                    -webkit-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                    position: absolute;
                    top: 11.5rem;
                    right: 0.5rem;
                }
                .qqdi{
                    width: 1.12rem;
                    height: 1.253333rem;
                    background: url('../imgs/2/wenzi.png') no-repeat center;
                    position: absolute;
                    -moz-background-size: contain;
                    -webkit-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                }
                .qqdi1{
                    top: 10rem;
                    right: 1rem;
                    animation: qqdi1 1.5s linear infinite;
                }
                .qqdi2{
                    top: 8.8rem;
                    right: 0.5rem;
                    animation: qqdi2 1.5s linear infinite;
                }
                .qqdi3{
                    top: 7.6rem;
                    right: 0.98rem;
                    animation: qqdi3 1.5s linear infinite;
                }
                .zz_l{
                    position: absolute;
                    top: 11.5rem;
                    left: 0.5rem;
                    height: 1.333333rem;
                    width: 0.8rem;
                    img:nth-child(1){
                        margin-left: -0.3rem;
                        margin-bottom: -0.5rem;
                        width: 0.586667rem;
                        animation: zz1 2s linear infinite; 
                    }
                    img:nth-child(2){
                        width: 0.453333rem;
                        animation: zz2 2s linear infinite; 
                    }
                }
                .zz_r{
                    position: absolute;
                    top: 11rem;
                    left: 3.2rem;
                    height: 1.333333rem;
                    width: 0.8rem;
                    img:nth-child(1){
                        margin-left: 0.2rem;
                        margin-bottom: -0.5rem;
                        width: 0.586667rem;
                        animation: zz1 1.8s linear infinite; 
                    }
                    img:nth-child(2){
                        width: 0.453333rem;
                        animation: zz2 1.8s linear infinite; 
                    }
                }
                .time{
                    width: 2.933333rem;
                    height: 2.933333rem;
                    position: absolute;
                    top: 0.4rem;
                    left: 0.96rem;
                }
            }
            .bottom{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 12.6rem;
                -webkit-animation-delay: 8s;
                .qq{
                    width: 3.733333rem;
                    position: absolute;
                    top: 3.146667rem;
                }
                .qqyq{
                    width: 2.266667rem;
                    position: absolute;
                    top: 3.5rem;
                    left: -0.04rem;
                    -webkit-animation-duration: 3s;
                }
                .dialog{
                    img{
                        position: absolute;
                    }
                    .d1{
                        width: 10.266667rem;
                        top: 0.8rem;
                        left: 2.666667rem;
                        -webkit-animation-delay: 1s;

                    }
                    .d2{
                        width: 12.426667rem;
                        top: 2.693333rem;
                        left: 2.667rem;
                        -webkit-animation-delay: 2s;
                    }
                    .d3{
                        width: 15.2rem;
                        top: 4.16rem;
                        left: 4.106667rem;
                        -webkit-animation-delay: 3s;
                    }
                    .d3{
                        width: 15.2rem;
                        top: 4.16rem;
                        left: 4.106667rem;
                        -webkit-animation-delay: 4s;
                    }
                    .d4{
                        width: 13.146667rem;
                        top: 5.76rem;
                        left: 4.4rem;
                        -webkit-animation-delay: 5s;
                    }
                    .d5{
                        width: 13.146667rem;
                        top: 6.933333rem;
                        left: 1.146667rem;
                        -webkit-animation-delay: 6s;
                    }
                    .d6{
                        width: 17.52rem;
                        top: 9.92rem;
                        left: 1.733333rem;
                        -webkit-animation-delay: 7s;
                    }
                }
            }
            .bottom2{
                position: absolute;
                top: 24rem;
                left: 1.973333rem;
                .dialog{
                    width: 10.4rem;
                    -webkit-animation-delay: 8s;
                }
                .tx{
                    width: 5.12rem;
                    -webkit-animation-delay: 8s;
                }
            }
        } 
    } // 第3屏
    .swiper3 {
        .content {
            height: 100%;
            .time{
                overflow: hidden;
                .biao{
                    width: 2.933333rem;
                    height: 2.933333rem;
                    background: url('../imgs/3/表盘.png') no-repeat center;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    -o-background-size: contain;
                    background-size: contain;
                    margin: 0 auto;
                    margin-top: 1.253333rem;
                    position: relative;
                    img{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                    }
                    .hour{
                        -webkit-transform-origin: 0.08rem 0;
                        -webkit-transform: translateX(-50%) rotate(60deg);
                        height: 0.613333rem;
                        animation: rotate_time 6s linear infinite;
                    }
                    .minute{
                        -webkit-transform-origin: 0.053333rem 0;
                        transform: translateX(-50%)  rotate(180deg);
                        height: 0.8rem;
                        animation: rotate_time 0.5s linear infinite;
                    }
                }
                p{
                    text-align: center;
                    padding-top: 0.5rem;
                    font-size: 2rem;
                    font-style: italic;
                    color: #222;
                }
            }
            .circlce{
                width: 20.0rem;
                height: 23.466667rem;
                background: url('../imgs/3/背景圈.png') no-repeat center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                margin-top: 1.6rem;
                position: relative;
                .sun{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(0deg);
                    animation: sun 6s linear infinite;
                    img{
                        width: 2.666667rem;
                        margin-top: 2.6rem;
                    }
                }
                .night{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(120deg);
                    animation: night 6s linear infinite;
                    img{
                        width: 2.666667rem;
                        margin-top: 2.6rem;
                    }
                }
                .container{
                    width: 17.6rem;
                    height: 8.8rem;
                    background: #ddba84;
                    position:absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    div{
                        width: 8.8rem;
                        height: 8.8rem;
                        background-repeat: no-repeat;
                        background-position: center;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                        float: right;
                    }
                    .many{
                        background-image: url('../imgs/3/多人.jpg');
                        animation: onetomany 4s linear;
                        text-align: center;
                        position: relative;
                        img{
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                        img:nth-child(1){
                            width: 5.173333rem;
                            animation: updis1 1s linear infinite;
                        }
                        img:nth-child(2){
                            width: 3.306667rem;
                            animation: updis2 1s linear 0.5s infinite;
                        }
                    }
                    .bug{
                        animation: bug 4s linear infinite;
                    }
                    .wenzi{
                        width: 16.906667rem;
                        animation-delay: 1.5s;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                    }
                }
            }
        }
    } // 第4屏
    .swiper4 {
        .content {
            height: 100%;
            .tit {
                margin-top: 1.786667rem;
                height: 1.6rem;
                background: url('../imgs/4/tit.png') no-repeat center;

                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
            .num {
                height: 4.0rem;
                margin-top: 0.8rem;
                background: url('../imgs/4/sz.png') no-repeat center;

                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
            .map {
                position: absolute;
                top: 12.186667rem;
                left: 0;
                width: 100%;
                height: 14.933333rem;
                background-repeat: no-repeat;
                background-position: center center;

                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
            .baseLayer {
                background-image: url('../imgs/4/5map.png');
                z-index: 5;
                animation: mapChange 4s linear;
            }
            .layers1 {
                background-image: url('../imgs/4/kp.png');
                z-index: 6;
            }
            .layers2 {
                background-image: url('../imgs/4/wy.png');
                z-index: 7;
                animation-delay: 0.4s;
            }
            .layers3 {
                background-image: url('../imgs/4/app.png');
                z-index: 8;
                animation-delay: 0.8s;
            }
            .layers4 {
                background-image: url('../imgs/4/wx.png');
                z-index: 9;
                animation-delay: 1.2s;
            }
            .layers5 {
                background-image: url('../imgs/4/fyjp.png');
                z-index: 10;
                animation-delay: 1.6s;
            }
        }
    } // 第5屏
    .swiper5 {
        .content {
            height: 100%;
            .tit {
                margin-top: 1.786667rem;
                height: 1.6rem;
                background: url('../imgs/5/tit.png') no-repeat center;

                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
            .num {
                height: 4.0rem;
                margin-top: 0.8rem;
                background: url('../imgs/5/数字.png') no-repeat center;

                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
            .data {
                margin-top: 5.866667rem;
                height: 14rem;
                background: url('../imgs/5/数据.png') no-repeat center;

                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
            .pic {
                height: 9.4rem;
                margin-top: -14rem;
                background: url('../imgs/5/图形.png') no-repeat 5.6rem 1.4rem;
            -moz-background-size: 8rem 8rem; 
            -webkit-background-size: 8rem 8rem; 
            -o-background-size: 8rem 8rem; 
            background-size: 8rem 8rem;
                animation: rotating1 1s linear;
                transform-origin: 9.6rem 5.4rem;
            }
        }
    } // 第6屏
    .swiper6 {
        .content {
            height: 100%;
            .tit {
                margin-top: 1.786667rem;
                height: 1.6rem;
                background: url('../imgs/6/tit.png') no-repeat center;

                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
            .num {
                height: 4.0rem;
                margin-top: 0.8rem;
                background: url('../imgs/6/文字1.png') no-repeat center;
                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
            }
            .data {
                height: 14.133333rem;
                width: 18rem;
                margin: 5rem auto;
                background: url('../imgs/6/tubiao_bro.png') no-repeat center;

                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                box-sizing: border-box;
                position: relative;
                padding-left: 1.333333rem;
                .rate {
                    width: 3.8rem;
                    position: absolute;
                    top:0rem;
                    left:12.6rem;
                }
                .money {
                    width: 100%;
                    height: 3rem;
                    width: 13.2rem;
                    font-size: 2rem;
                    font-style: italic;
                    font-weight: 700;
                    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#e5ba77), to(#bf8b54));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    position: absolute;
                    top: -1.2rem;
                    right: 0rem;
                }
                .money::before{
                    // content: '¥00.00';
                    content: '¥6269480.99';
                    -webkit-animation: money 1s linear;
                }
                .item {
                    height: 12.8rem;
                    width: 4.2rem;
                    margin-right: 1.12rem;
                    float: left;
                    position: relative;
                }
                .item::before {
                    position: absolute;
                    width: 100%;
                    height: 1.066667rem;
                    font-size: 1.5rem;
                    text-align: center;
                    bottom: -1.4rem;
                    right: 0;
                    color: #bf8b54;
                    font-weight: 700;
                    animation: flipInX 1.5s linear;
                }
                .item2015 {
                    background: url('../imgs/6/2015.png') no-repeat center bottom;

                    -moz-background-size: 4.2rem 3rem;
                    -webkit-background-size: 4.2rem 3rem;
                    -o-background-size: 4.2rem 3rem;
                    background-size: 4.2rem 3rem;
                    animation: year2015 0.5s linear;
                }
                .item2016 {
                    background: url('../imgs/6/2016.png') no-repeat center bottom;

                    -moz-background-size: 4.2rem 5rem;
                    -webkit-background-size: 4.2rem 5rem;
                    -o-background-size: 4.2rem 5rem;
                    background-size: 4.2rem 5rem;
                    animation: year2016 0.8s linear;
                }
                .item2017 {
                    background: url('../imgs/6/2017.png') no-repeat center bottom;

                    -moz-background-size: 4.2rem 11.6rem;
                    -webkit-background-size: 4.2rem 11.6rem;
                    -o-background-size: 4.2rem 11.6rem;
                    background-size: 4.2rem 11.6rem;
                    animation: year2017 1.0s linear;
                }
                .item2015::before {
                    content: '2015';
                }
                .item2016::before {
                    content: '2016';
                }
                .item2017::before {
                    content: '2017';
                }
            }
        }
    }// 第7屏
    .swiper7 {
        .content {
            height: 100%;
            .percent{
                width: 8.853333rem;
                height: 8.8rem;
                margin-top: 5rem;
                margin-left: 5.333333rem;
                // background-image: url('../imgs/7/num.png');
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                animation: changepic 4s 1s linear both;
            }
            .but{
                width: 1.546667rem;
                height: 4.106667rem;
                margin: 1.866667rem auto;
                background: url('../imgs/7/but.png') no-repeat center;
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                animation-delay: 5s;
            }
            .wenzi{
                width: 11.946667rem;
                height: 6.026667rem;
                margin: 0 auto;
                background: url('../imgs/7/wenzi.png') no-repeat center;
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                animation-delay: 6s;
            }
        }
    }// 第8屏
    .swiper8 {
        .content {
            height: 100%;
            background: url('../imgs/8/bro.png') no-repeat center;
            .happy{
                width: 11.413333rem;
                margin-left: 4.266667rem;
                margin-top: 4.08rem;
            }
            .dog{
                width: 15.84rem;
                height: 8.72rem;
                margin: 2.666667rem auto;
                background: url('../imgs/8/底.png') no-repeat center;
                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-size: contain;
                img{
                    width: 100%;
                    animation-duration: 1.5s;
                    animation-delay: 1s;
                }
            }
            .bb{
                position: absolute;
                bottom: 2rem;
                width: 100%;
                text-align: center;
                .end{
                    width: 4.773333rem;
                }
            }
            .bmore{
                width: 4.48rem;
                position: absolute;
                bottom: 1.8rem;
                right: 2rem;
            }
        }
    }

}
@keyframes updis1{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
        transform: translateY(-2rem);
    }
    100%{
        opacity: 0;
    }
}
@keyframes updis2{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
        transform: translateY(-2rem);
    }
    100%{
        opacity: 0;
    }
}
@keyframes onetomany{
    0%{
        background-image: url('../imgs/3/一人png.png');
    }
    50%{
        background-image: url('../imgs/3/一人png.png');
    }
    100%{
        background-image: url('../imgs/3/多人.jpg');
    }
}
@keyframes bug{
    0%{
        background-image: url('../imgs/3/方案1.png');
    }
    10%{
        background-image: url('../imgs/3/方案2.png');
    }
    20%{
        background-image: url('../imgs/3/方案3.png');
    }
    30%{
        background-image: url('../imgs/3/改需求1.png');
    }
    40%{
        background-image: url('../imgs/3/功能1.png');
    }
    50%{
        background-image: url('../imgs/3/功能2.png');
    }
    60%{
        background-image: url('../imgs/3/功能3.png');
    }
    70%{
        background-image: url('../imgs/3/需求1.png');
    }
    80%{
        background-image: url('../imgs/3/需求2.png');
    }
    90%{
        background-image: url('../imgs/3/需求3.png');
    }
    100%{
        background-image: url('../imgs/3/方案1.png');
    }
}
@keyframes changepic{
    0%{
        background-image: url('../imgs/7/0.png');
    }
    20%{
        background-image: url('../imgs/7/1.png');
    }
   40%{
       background-image: url('../imgs/7/2.png');
    }
   60%{
       background-image: url('../imgs/7/3.png');
    }
   80%{
       background-image: url('../imgs/7/4.png');
    }
   100%{
       background-image: url('../imgs/7/5.png');
    }
}
@keyframes sun{
    0%{
        -webkit-transform: rotate(-30deg);
    }
   50%{
        -webkit-transform: rotate(120deg);
    }
    100%{
        -webkit-transform: rotate(120deg);
    }
}
@keyframes night{
    0%{
        -webkit-transform: rotate(120deg);
    }
   50%{
        -webkit-transform: rotate(120deg);
    }
    100%{
        -webkit-transform: rotate(320deg);
    }
}
@keyframes rotate_time{
    0%{
        -webkit-transform: rotate(0deg);
    }
   100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes zz1{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes zz2{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes qqdi1{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes qqdi2{
    0%{
        opacity: 0.5;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
@keyframes qqdi3{
    0%{
        opacity: 0.5;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes money {
    0% {
        content: '¥0000000.00'
    }
    10% {
        content: '¥1111110.11'
    }
    20% {
        content: '¥2222220.22'
    }
    30% {
        content: '¥3233330.33'
    }
    40% {
        content: '¥4244440.44'
    }
    50% {
        content: '¥5255450.55'
    }
    60% {
        content: '¥6266460.66'
    }
    70% {
        content: '¥6267470.77'
    }
    80% {
        content: '¥6268480.88'
    }
    90% {
        content: '¥6269480.99'
    }
    100%{
        content: '¥6269480.99'
    }
}
@keyframes wordDown {
    0% {
        top: 8rem;
        opacity: 0;
    }
    100%{
        top: 12rem;
        opacity: 1;
    }
}
@keyframes mapChange {
    0% {
        background-image: url('../imgs/4/map_kp.png');
    }
    20% {
        background-image: url('../imgs/4/2map_wy.png');
    }
    30% {
        background-image: url('../imgs/4/3map_app.png');
    }
    40% {
        background-image: url('../imgs/4/4map_weixin.png');
    }
    50% {
        background-image: url('../imgs/4/5map.png');
    }
}
@keyframes year2015 {
    0% {
        -moz-background-size: 4.2rem 0rem;
        -webkit-background-size: 4.2rem 0rem;
        -o-background-size: 4.2rem 0rem;
        background-size: 4.2rem 0rem;

    }
    50% {
        -moz-background-size: 4.2rem 1.5rem;
        -webkit-background-size: 4.2rem 1.5rem;
        -o-background-size: 4.2rem 1.5rem;
        background-size: 4.2rem 1.5rem;
    }
    100% {
        -moz-background-size: 4.2rem 3rem;
        -webkit-background-size: 4.2rem 3rem;
        -o-background-size: 4.2rem 3rem;
        background-size: 4.2rem 3rem;
    }
}
@keyframes year2016 {
    0% {
        -moz-background-size: 4.2rem 0rem;
        -webkit-background-size: 4.2rem 0rem;
        -o-background-size: 4.2rem 0rem;
        background-size: 4.2rem 0rem;
    }
    50% {
        -moz-background-size: 4.2rem 2.5rem;
        -webkit-background-size: 4.2rem 2.5rem;
        -o-background-size: 4.2rem 2.5rem;
        background-size: 4.2rem 2.5rem;
    }
    100% {
        -moz-background-size: 4.2rem 5rem;
        -webkit-background-size: 4.2rem 5rem;
        -o-background-size: 4.2rem 5rem;
        background-size: 4.2rem 5rem;
    }
}
@keyframes year2017 {
    0% {
        -moz-background-size: 4.2rem 0rem;
        -webkit-background-size: 4.2rem 0rem;
        -o-background-size: 4.2rem 0rem;
        background-size: 4.2rem 0rem;
    }
    50% {
        -moz-background-size: 4.2rem 6rem;
        -webkit-background-size: 4.2rem 6rem;
        -o-background-size: 4.2rem 6rem;
        background-size: 4.2rem 6rem;
    }
    100% {
        -moz-background-size: 4.2rem 11.6rem;
        -webkit-background-size: 4.2rem 11.6rem;
        -o-background-size: 4.2rem 11.6rem;
        background-size: 4.2rem 11.6rem;
    }
}
@keyframes rotating1 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: rotate(1turn);
        opacity: 1;
    }
}
@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}
@keyframes rotating1 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: rotate(1turn);
        opacity: 1;
    }
}
.animateRotating60 {
    -webkit-animation: rotating 60s linear infinite;
}
.animateRotating {
    -webkit-animation: rotating 5s linear infinite;
}
.swiper-container .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 1);
    opacity: 0.6;
}
.swiper-container .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}
.swiper-pagination.swiper-pagination-bullets {
    top: 21rem!important;
}
